<div class="container">
    <h1>
      Ski Packages List
    </h1>
  <table class="table table-bordered table-striped table-hover">
   <thead class="thead-dark">
   <tr>
    <td>#</td>
    <td>Package Name</td>
    <td>Skis Type</td>
    <td>Lift Level</td>
    <td>Lesson Included</td>
    <td>Price</td>
    <td>Action</td>
   </tr>
   </thead>
   <tbody *ngIf="skiingPackagePageable">
   <tr *ngFor="let skiPackage of skiingPackagePageable.content | paginate: { id: 'listing_pagination',
                                                        itemsPerPage: 5,
                                                        currentPage: page,
                                                        totalItems: skiingPackagePageable.totalElements }">
     <td><input type="checkbox" [(ngModel)] = "skiPackage.isChecked"></td>
     <td>{{skiPackage.name}}</td>
     <td>{{skiPackage.skisType}}</td>
     <td>{{skiPackage.liftLevel}}</td>
     <td>{{skiPackage.hasLesson}}</td>
     <td>{{skiPackage.price}}</td>
     <td>
        <button type="button" class="btn btn-outline-dark" (click) = "onClickEdit(skiPackage.name)">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </button>
      </td>
   </tr>
   </tbody>
   <tfoot>
      <td colspan="7">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-outline-dark" (click) = "onClickDelete()">
                    <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                </button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-outline-dark" (click) = "onClickAdd()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div>
        </div>
      </td>
   </tfoot>
   </table>
   <div>
   <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
   </div>
   <div *ngIf="isEditCreateFormEnable" class="container border" id="skiPackageContainer">
      <h2>Edit/Create Ski Package</h2>
      <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <div class="form-group">
                  <label for="packageName">Package Name</label>
                  <input type="text" [(ngModel)] = "packageName" class="form-control" name="packageName" id="packageName" aria-describedby="packageNameHelp" placeholder="{{packageName}}" [readonly]="isEdit">
                </div>
                <div class="form-group">
                   <label for="skisType">Skis Type</label>
                   <select class="custom-select" [(ngModel)]="skisType" name="skisType" class="form-control" id="skisType" aria-describedby="skisTypeHelp" required>
                       <option selected>Choose...</option>
                       <option value="Beginner">Beginner</option>
                       <option value="Powder">Powder</option>
                       <option value="All mountain - Lightweight">All mountain - Lightweight</option>
                       <option value="All mountain - Stable">All mountain - Stable</option>
                       <option value="Intermediate">Intermediate</option>
                   </select>
                 </div>
                 <div class="form-group">
                   <label for="liftLevel">Lift Level</label>
                   <select multiple class="form-control" id="liftLevel" [(ngModel)]="liftLevel" name="liftLevel" required>
                     <option>Partial</option>
                     <option>Full</option>
                     <option>Hike</option>
                     <option>Helicopter</option>
                     <option>Evening - Full</option>
                   </select>
                 </div>
                 <fieldset class="form-group">
                     <legend>Lesson Included</legend>
                     <div class="form-check">
                       <label class="form-check-label">
                         <input type="radio" class="form-check-input" [(ngModel)] = "hasLesson" name="optionsRadios" id="optionsRadiosYes" value="true" checked>
                         Yes
                       </label>
                     </div>
                     <div class="form-check">
                     <label class="form-check-label">
                         <input type="radio" class="form-check-input" [(ngModel)] = "hasLesson" name="optionsRadios" id="optionsRadiosNo" value="false">
                         No
                       </label>
                     </div>
                 </fieldset>
                 <div class="form-group">
                     <label for="price">Price ($)</label>
                     <input type="number" class="form-control" id="price" [(ngModel)] = "price" name="price" aria-describedby="priceHelp" placeholder="{{price}}" required>
                 </div>
                 <div class="btn-group mr-2" role="group">
                    <button type="submit" class="btn btn-primary" (click)="onClickSubmit()">Submit</button>
                 </div>
                 <div class="btn-group mr-2" role="group">
                    <button type="cancel" class="btn btn-primary" (click)="onClickCancel()">Cancel</button>
                 </div>
                 <br/>
                 <br/>
              </form>
        </div>
      </div>
    </div> 
   
   <br/>
   <br/>
   <br/>
   <br/>
  </div>