<!--The content below is only a placeholder and can be replaced.-->
<div class="services-section">
<section id="what-we-do">
  <div class="container-fluid">
    <h2 class="section-title mb-2 h1">Snow Bird - Admin Screen</h2>
    <p class="text-center text-muted h5">Please select from the following admin activities</p>
    <div class="row mt-5">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
          <div class="card-block block-1" (click)="routeTo('skipackages')" style="cursor: pointer;">
             <h3 class="card-title">Ski Packages</h3>
            <p class="card-text">Create Edit delete and update Ski packages</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
          <div class="card-block block-2" (click)="routeTo('/')" style="cursor: pointer;">
            <h3 class="card-title">Skiing events</h3>
            <p class="card-text">Click here to create schedule and edit skiing events like races, slush cup and other events</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <div class="card">
            <div class="card-block block-2" (click)="routeTo('/')" style="cursor: pointer;">
              <h3 class="card-title">Lift and resort Status</h3>
              <p class="card-text">Click here to udpate lift status and resort status/timings</p>
            </div>
          </div>
        </div>
  </div>
  </div>	
</section>
<router-outlet></router-outlet>
<app-footer [footerText]="footerText"></app-footer>
</div>
